
.footer {
  color: var(--text-color);
  font-size: var(--body-font-size-xs);
}

.footer .footer-container {
  max-width: 1200px;
  margin: auto;
  padding: 24px;
}

.footer .footer-container a {
  position: relative;
  color: var(--text-color);
}

/* .footer .footer-container a:hover {
    text-decoration: none;
}

.footer .footer-container a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    background: var(--link-color);
    transition: width .3s ease;
}

.footer .footer-container a:hover::after {
    width: 100%;
} */

.footer .footer-container .footer-nav {
  padding-bottom: 24px;
  border-bottom: 1px solid #000;
}

.footer .footer-container .footer-nav .default-content-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

@media (width <= 992px) {
  .footer .footer-container .footer-nav .default-content-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width <= 768px) {
  .footer .footer-container .footer-nav .default-content-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}

.footer .footer-container .footer-nav h5 {
  font-size: var(--body-font-size-s);
  color: var(--color-accent);
  margin-top: 0;
  margin-bottom: 16px;
}

.footer .footer-container .footer-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer .footer-container .footer-nav ul li {
  margin-bottom: 4px;
}

.footer .footer-container .footer-copyright {
  text-align: center;
  margin-top: 24px;
}

.footer .footer-container .footer-copyright p {
  margin: 0;
}